* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: #404BBF;
    --p-color: #434455; 
    --button-text-color-inactive : #404BBF;
    --button-text-color-active : #fff; 
    --button-background-color-click: #404BBF;
    --background-color: #fff;
    --highlight-color: #007bff;
    --address-color:#434455;
    --studio-color:#F4F4FD;
    --web-color:  #4D5AE5;
    --footer-color: #2E2F42;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.feature-header-text,
.product-header-text,
.team-header-text,
/*.feature-text,*/
.team-header-text,
.section-project-header-text,
.sub-feauture-text,
.sub-team-header-text,
.sub-section-project-header-text,
.nav-list-item-link,
.address-list-item-link,
.feature-list-item,
.portfolio-list-item,
.section-project1-list-item,
.section-project2-list-item,
.section-project3-list-item,
.footer-text {
    font-family: inherit;
    margin-left: 30px;
}
.feature-text,
.team-header-text,
.section-project-header-text {
    color: var(--footer-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    }
.sub-feature-text,
.sub-team-header-text,
.sub-section-project-header-text {
        font-size: 16px;
        color: var(--address-color);
        line-height: 1.5em;
        letter-spacing: 0.32px;
}
.product-header-text,
.team-header-text-title {
    color: var(--footer-color);
    font-size: 36px;
    line-height: 1.111111em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.portfolio-item-button {
        font-size: 16px;
        font-weight: 500;  
        line-height: 1.5em; 
        color: var(--button-text-color-inactive);
    }
.portfolio-item-button:hover
.portfolio-item-button:focus {
    cursor: pointer;
    color: var(--button-text-color-active);
    background-color: var(--button-background-color-click);
}
.active-button {
    color: var(--button-text-color-active);
    border-radius: 4px;
    background: var(--text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.address-list-item-link:hover,
.address-list-item-link:focus {
    cursor: pointer;
    color: var(--button-text-color-active);
    background-color: var(--button-background-color-click);
}
.nav-list-item-link {
    color: var(--p-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
.address-list-item-link {
    color: var(--address-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
.hero {
    width: 1440px;
    height: 370px;
    flex-shrink: 0;
    background: var(--footer-color);
    padding-top: 188px;
}
.hero-text {
    color: var(--background-color);
    text-align: center;
    margin: 0;
    font-size: 56px;
    line-height: 1.07143em;
    letter-spacing: 1.12px;
}
.hero > button {
    display: inline-block;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--web-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--button-text-color-active);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.64px;
}
.product-header-text, 
.team-header-text-title , 
.team-header-text, 
.sub-team-header-text{
    text-align: center;
}
.footer-text {
    color: var(--studio-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5em; 
    letter-spacing: 0.32px;
    text-align:left;
}
footer {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--footer-color);
}
.span-web {
    color: var(--web-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667em; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.span-studio {
    color: var(--studio-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}